<p id="notice"><%= notice %></p>

<p>
  <strong>Deckcardid:</strong>
  <%= @deck_card.deckCardId %>
</p>

<p>
  <strong>Deckid:</strong>
  <%= @deck_card.deckId %>
</p>

<p>
  <strong>Cardid:</strong>
  <%= @deck_card.cardId %>
</p>

<%= link_to 'Edit', edit_deck_card_path(@deck_card) %> |
<%= link_to 'Back', deck_cards_path %>
