<%= form_for(card) do |f| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardId %>
    <%= f.text_field :cardId %>
  </div>

  <div class="field">
    <%= f.label :deck %>
    <%= f.text_field :deck %>
  </div>

  <div class="field">
    <%= f.label :strength %>
    <%= f.text_field :strength %>
  </div>

  <div class="field">
    <%= f.label :combatType %>
    <%= f.text_field :combatType %>
  </div>

  <div class="field">
    <%= f.label :cardAbility %>
    <%= f.text_field :cardAbility %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
