<p id="notice"><%= notice %></p>

<h1>Cards</h1>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Faction</th>
      <th>Card Type</th>
      <th>Strength</th>
      <th>Combat Type</th>
      <th>Card Ability</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.deck %></td>
        <td><%= card.role %></td>
        <td><%= card.strength %></td>
        <td><%= card.combatType %></td>
        <td><%= card.cardAbility %></td>
        <td><%= card.description %></td>
        <td><%= link_to 'Inspect', card %></td>
        <!--<td><%= link_to 'Edit', edit_card_path(card) %></td>-->
        <!--<td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>

<br>

<!--<%= link_to 'New Card', new_card_path %>-->
