<p id="notice"><%= notice %></p>
<h1><%= @deck.deckName %></h1>

<p>
  <strong>Faction:</strong>
  <%= @deck.faction %>
</p>

<!-- <p>
  <strong>Userid:</strong>
  <%= @deck.user_id %>
</p> |-->

<table class = "table table-hover">
  <thead align="left">
    <tr>
      <th>Card Name</th>
      <th>Faction</th>
      <th>Card Type</th>
      <th>Strength</th>
      <th>Combat Type</th>
      <th>Card Ability</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody align="left">
    <% @deck.deck_cards.each do |card_id| %>
      <% c = card_id.card %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.deck %></td>
        <td><%= c.role %></td>
        <td><%= c.strength %></td>
        <td><%= c.combatType %></td>
        <td><%= c.cardAbility %></td>
        <td><%= c.description %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_deck_card_path(card_id) %></td>
        <td><%= link_to 'Destroy', card_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <%= link_to 'Edit', edit_deck_path(@deck) %> |-->
<%= link_to 'Back', decks_path %>
